<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>codeForTheForm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'The code for the table:'"></p>
<img src="https://lh3.googleusercontent.com/kkQqBVHx5P6HPtGgA2N6Wj0Ekp9H5Aobx95tLk-Oczwb7nE5XICF4kk8ao7p5z5WmQjbRu2NXAwjZ6IAvzhHPPxFte_m97P5KhHj39V31f4J3Y18c64XX722hdCfrPmKtSTF4vpsIUOHqCTzGFaY-LebBCoWQ22KJojGB8R9kEcxbflJaR3NpA2PO-28V0ptdCNQ5pFqJDILa5um1SlfCotpbOAflq021in0aW6M5vm_9ezMiIgQWxjW5tbdpTYypz__IN8Qld19qjdMCb_cYysiY6_bPNnH-v1TSOyMghRM7posaOW-Mo0K40ffXAfqCyBXY2VnaNokonpcWmdh7_lgfSpfD8fEbdZ92ijdm8cDv_C3zZac0IXID6p8-J57DF8dqlcIgSwsE4vFaBJluMCOQ7QRUK-gQlKqoIb17PTWusQZ3czDONfh1nsdvDSJuUhzO-XoY3S3X1oh2Av1CdhA8vCso67cLc2sIuzhfzlR7DXOjIq_S4YAuSWeC5ILqUZNciWpEhZI2y01hpf5yRr_uUJBDvAoTpASpeXJPAE7v6VuVShPanDD5Nb3tX9QX8e6ihujnenzZGsrifSbfy4ysqNPHenvof97dqo=w749-h584-no" width="900px" />
</body>
</html>