<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bank of Simba</title>
</head>
<body>
<h2>Code for the table:</h2>
<img src="https://lh3.googleusercontent.com/fPew9WRQF4ZFpGazXyiRNwkb62Ud65gYjIzhaFfzGoBEDHwpRs0SnothWMyK_hssKZIqlCpuIryq_c168il0g1WrfFgq09doN2L9FNGnXUorfnA0sQ9witR0kT3jwnZnJny_kEIQ-ypvmV_pnSZMtlzeQiwoW94yIx9Ph88AiGHglSeTRsLNPEuYYA3J3mtJIbEKQ2a4otNkJvzrXJI4E_1vRxj1NcIz4LhIPdYL0OXZLxLTIIM6E8T-z2ZV2_-D8JpA3zVwl3GNcC2K7AzHRQPPdXlk3dolOVsKrXHp5_ByX8X6tQfIDAkt64fH51bTpL5jzluMz5gT0svruEBGRKB-HbHAXTFP3VuXEz2XhWVkUgiHLsC5MhqsCyccYV47szFTIcc1ZoNdImkOt_yTQ9DSK851UY3maWoBO-eLIjSZiE8tyCEv1t4ILWfdWwZNFw95IBrZsrH0_E-_dvqtPveQFj1rS_5vTZcI2_z-OK-Lh32MhAWeI9m_AYY02-fjOfWGLWlz1mg7RXu2dgofVd_CxwUy_5aH1AlXW_pEQgIOErj7Xde1PuOOS0F0pzHmMzajPsr7D-tj_YYEZKC9FbBYZPm4jAM5xcGQwyE=w809-h522-no" width="1200px" />
</body>
</html>