<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Macrotis exam</title>
</head>
<body>
    <div class="mainContainer">

        <table border="1px">
            <thead>
                <tr>
                    <th class="attrName">Name</th>
                    <th class="city">City</th>
                    <th class="price">Price</th>
                    <th class="longitude">Longitude</th>
                    <th class="lattitude">Lattitude</th>
                    <th class="category">Category</th>
                    <th class="duration">Duration</th>
                    <th class="recommendedAge">Recommended age</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="attraction : ${attractions}">
                    <td th:text="${attraction.attrName}"></td>
                    <td th:text="${attraction.city}"></td>
                    <td th:text="${attraction.price}"></td>
                    <td th:text="${attraction.longitude}"></td>
                    <td th:text="${attraction.lattitude}"></td>
                    <td th:text="${attraction.category}"></td>
                    <td th:text="${attraction.duration}"></td>
                    <td th:text="${attraction.recommendedAge}"></td>
                </tr>
            </tbody>
        </table>

        <form th:action="@{/add}" method="post" th:object="${attraction}">
            <input type="hidden" th:field="*{id}">

            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{attrName}"><br>

            <label for="city">City:</label>
            <input type="text" id="city" th:field="*{city}"><br>

            <label for="price">Price:</label>
            <input type="text" id="price" th:field="*{price}"><br>

            <label for="longitude">Longitude:</label>
            <input th:type="text" id="longitude" th:field="*{longitude}"><br>

            <label for="lattitude">Lattitude:</label>
            <input th:type="text" id="lattitude" th:field="*{lattitude}"><br>

            <label for="category">Category:</label>
            <input th:type="text" id="category" th:field="*{category}"><br>

            <label for="duration">Duration:</label>
            <input th:type="text" id="duration" th:field="*{duration}"><br>

            <label for="recommendedAge">Recommended age:</label>
            <input th:type="text" id="recommendedAge" th:field="*{recommendedAge}"><br>

            <input type="submit" value="Elküldés">
        </form>
    </div>
</body>
</html>